<b>Completed tasks:</b>
    <ul>
        <% for(var i = 0; i < doneList.length; i++) {%>
            <li><%= doneList[i].summary %></li>
        <% } %>
    </ul>
<br/>
<hr/>
<br/>
<b>In progress tasks:</b>
<ul>
    <% for(var i = 0; i < inProgressList.length; i++) { %>
        <li><%= inProgressList[i].summary %>
            <% if (inProgressList[i].checkList) { %>
            <ul>
                <% for(var j = 0; j < inProgressList[i].checkList.length; j++) { %>
                    <li><%= inProgressList[i].checkList[j].name + " - ( " + inProgressList[i].checkList[j].state + " )" %></li>
                <% } %>
            </ul>
            <% } %>
        </li>
    <% } %>
</ul>
