Completed tasks:

<% for(var i = 0; i < doneList.length; i++) {%>
- <%= doneList[i].summary %>
<% } %>


In progress tasks:

<% for(var i = 0; i < inProgressList.length; i++) {%>
- <%= inProgressList[i].summary %>
<% } %>

